.main-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}

.personal-data-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 10px 10px 10px 10px;
  transition: all .2s;
  padding: 20px;
}

.education-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 10px 10px 10px 10px;
  transition: all .2s;
  padding: 20px;
  margin-bottom: 10px;
}

.summary-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 10px 10px 10px 10px;
  transition: all .2s;
  padding: 20px;
}

.tech-skills-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid #f0f0f0;
  border-radius: 10px 10px 10px 10px;
  transition: all .2s;
  padding: 20px;
}

.button-plus-stiles {
  margin-right: 20px;
}
